*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Calibri", sans-serif;
    line-height: 1.6;
    padding: 20px;
}

h1 {
    color: #333;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}